<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=350">
    <title><%- appTitle %></title>

    <link rel="icon" type="image/png" href="<%- favicon %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Shared Collection Catalog | NYPL">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="Shared Collection Catalog | NYPL">
    <meta property="og:url" content="https://www.nypl.org/research/collections/shared-collection-catalog">
    <meta name="twitter:title" content="Shared Collection Catalog | NYPL">
    <meta name="twitter:description" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nypl">
    <meta name="twitter:creator" content="@nypl">
    <meta name="twitter:image" content="">


<% if (isProduction) { %>
    <!-- Minified Styles -->
    <link rel="stylesheet" type="text/css" href="<%- baseUrl %>/styles.css">
<% } %>

  </head>
  <body>
    <div id="app"><%- application %></div>
    <% if (isProduction) { %>
    <script async src="<%- baseUrl %>/bundle.js"></script>
    <% } else { %>
    <script src="http://localhost:<%- webpackPort %>/bundle.js"></script>
    <% } %>

    <!-- Optimizely -->
    <script src="https://cdn.optimizely.com/js/284748925.js"></script>
    <!-- Optimizely -->

    <!-- OptinMonster -->
    <script src="https://assets.nypl.org/js/advocacy.js"></script>
    <!-- OptinMonster -->

  </body>

</html>
